@media (max-width: 1024px) {
    .continent-title {
        h2 {
            padding: 14px 0 0 14px;
        }
    }

    .store-list {
        padding: 5.5rem 20px 0;
        .table,
        .table-dark {
            thead {
                padding: 20px 40px 0 0;
            }
        }
    }
}

@media (max-width: 600px) {
    html {
        font-size: 14px;
    }

    header {
        background-color: $dark;
        table {
            padding: 0 15px;
            thead {
                padding: 20px 0 0 0;
                th {
                    &:nth-child(1) {
                        display: none;
                    }
                    &:nth-child(2) {
                        width: 30%;
                        margin-right: 5%;
                    }
                    &:nth-child(3) {
                        width: 65%;
                    }
                }
            }
        }
    }

    .continent-title {
        h2 {
            font-size: 4rem;
            padding: 12px 0 0 12px;
        }
    }

    .store-list {
        padding: 6rem 15px 0;
        table {
            tbody {
                td {
                    padding: 0.5rem 0;
                    &:nth-child(1) {
                        display: none;
                    }
                    &:nth-child(2) {
                        width: 30%;
                        margin-right: 5%;
                    }
                    &:nth-child(3) {
                        width: 65%;
                    }
                }
            }
        }
    }
}