@media (max-width: 1280px) {
    .logo {
        margin-bottom: .5rem;
    }
}

@media (max-width: 1024px) {
    header {
        padding: 20px;

        .menu {
            input {
                display: none;
            }
        }
        .logo {
            margin-bottom: 0;
        }
    }

    .store-list {
        padding: 5.8rem 20px 0;

        .table,
        .table-dark {
            thead {
                padding: 20px 40px 0 0;
            }
        }
    }
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }

    header {
        padding: 15px;
        background-color: $dark;

        .logo {
            padding: 0;
            margin-bottom: .5rem;
        }

        table {
            padding: 0 15px;

            thead {
                padding: 20px 0 0 0;

                th {
                    &:nth-child(1) {
                        display: none;
                    }

                    &:nth-child(2) {
                        width: 30%;
                        margin-right: 5%;
                    }
                    
                    &:nth-child(3) {
                        width: 65%;
                    }
                }
            }
        }
    }

    .store-list {
        padding: 7.5rem 15px 0;

        table {
            tbody {
                td {
                    padding: .5rem 0;
                    &:nth-child(1) {
                        display: none;
                    }

                    &:nth-child(2) {
                        width: 30%;
                        margin-right: 5%;
                    }

                    &:nth-child(3) {
                        width: 65%;
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .store-list {
        padding: 8.5rem 15px 0;
    }
}