<header>
     <div class="logo">
          <h1><a href="#">RecordStoreDB</a></h1>
     </div>
     <div class="menu">
          <nav>
               <ul>
                    <li [routerLinkActive]="['active']" [routerLink]="['/africa']">Africa</li>
                    <li [routerLinkActive]="['active']" [routerLink]="['/asia']">Asia</li>
                    <li [routerLinkActive]="['active']" [routerLink]="['/europe']">Europe</li>
                    <li [routerLinkActive]="['active']" [routerLink]="['/n-america']">N–America</li>
                    <li [routerLinkActive]="['active']" [routerLink]="['/s-america']">S–America</li>
                    <li [routerLinkActive]="['active']" [routerLink]="['/oceania']">Oceania</li>
                    <input type="text" placeholder="Search">
               </ul>
          </nav>
     </div>
     <table>
          <thead>
               <tr>
                    <th>Country</th>
                    <th>City</th>
                    <th>Store</th>
               </tr>
          </thead>
     </table>
</header>
<main>
     <div id="europe" class="continent">
          <div class="store-list">
               <table>
                    <tbody>
                         <tr *ngFor="let r of resultado" [routerLink]="['/store', r.slug]">
                              <td>{{r.country}}</td>
                              <td>{{r.city}}</td>
                              <td>{{r.name}}</td>
                         </tr>
                    </tbody>
               </table>
          </div>
     </div>
</main>