<!-- <app-header></app-header> -->
<form class="form-inline" *ngIf="!authorize.getUser()">
  <div class="form-group">
    <label for="username">User:</label>
    <input class="form-control" name="username" #username> 
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input class="form-control" type="password" name="password" #password>
  </div>
  <a class="btn btn-default" (click)="login(username.value, password.value)">
    Submit
  </a>
</form>
<div class="well" *ngIf="authorize.getUser()">
  Logged in as <b>{{ authorize.getUser() }}</b>
  <a href (click)="logout()">Log out</a>
</div>
<div class="alertalert-danger" role="alert" *ngIf="message">
  {{ message }}
</div>
