div[class^='col']{
    padding: 0;
}

header {
    padding: 33px;
    background-color: $accentlight;

    .logo {
        h1 {
            &:hover {
                color: $dark;
            }
        }
    }
    
    .menu {
        nav {
            ul {
                li {
                    &:hover {
                        color: $dark;
                    }
                }
            }
        }
    }
}

.row-1,
.row-2 {
    background-color: $accentlight;
}

.store-title {
    width: 100%;
    padding: 20px 33px 33px;

    h2 {
        font-size: 2.7rem;
        transition-duration: .2s;
    
        &:hover {
            color: $light;
            cursor: auto;
        }
    }

    h3 {
        font-family: $fontlight, 'Helvetica', 'Arial';
        font-size: 2.7rem;
    }
}

.store-main {
    .store-info {
        .logo {
            width: 8.2rem;
            margin: 0 0 1rem 0;

            img {
                width: 100%;
            }
        }

        .table,
        .table-dark {
            background-color: transparent;
            font-family: $fontlight;

            tr {
                border-color: transparent;

                td {
                    padding: 0;
                    line-height: 1.2rem;
                    border-color: transparent;
                }
            }
        }
    }

    .store-img {
        img {
            width: 100%;
            height: auto;
        }

        .map {
            width: 100%;
            height: 400px;
        }
    }

    .store-info,
    .store-img,
    .store-rating {
        display: inline-block;
        vertical-align: top;

        h4 {
            line-height: 1.2rem;
            margin: 1rem 0 0;
        }

        h4:nth-child(1) {
            margin: 0;
        }
        
        p {
            font-family: $fontlight;
            line-height: 1.2rem;
        }
    }
}

#hamburger-button {
    span {
        &:hover {
            color: $dark;
        }
    }
}

.card {
    border: 0;
    background-color: transparent;

    .card-header {
        border: 0;
        background-color: transparent;
        padding: 0;
        text-decoration: none;

        .btn-link {
            line-height: 1.2rem;
            border: 0;
            color: $light;
            text-align: left;
            margin: .5rem 0 0;
            padding: 0;
            text-decoration: underline;
            transition-duration: .2s;
        
            &:hover {
                background-color: transparent;
                border: 0;
                color: $dark;
                cursor: pointer;
            }
        
            &:focus {
                outline: 0;
            }
        }
    }

    .card-body {
        font-family: $fontlight;

        tr {
            td {
                padding: .1rem .2rem;
                text-align: center;

                &:nth-child(1) {
                    text-align: left;
                    padding: .1rem 2rem .1rem 0;
                }

                &:nth-child(3) {
                    text-align: left;
                    padding: .1rem .2rem .1rem .4rem;
                }
            }
        }
    }
}

agm-map {
    height: 400px;
}

.rating {
    float:left;
    margin: .2rem 0 0 15px;
  }

  /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
    follow these rules. Every browser that supports :checked also supports :not(), so
    it doesn’t make the test unnecessarily selective */
  .rating:not(:checked) > input {
      position:absolute;
      top:-9999px;
      clip:rect(0,0,0,0);
  }

  .rating:not(:checked) > label {
      float:right;
      width:1em;
      padding:0 .1em;
      overflow:hidden;
      white-space:nowrap;
      cursor:pointer;
      font-size:100%;
      /* line-height:1.2; */
      color:#ddd;
  }

  .rating:not(:checked) > label:before {
      content: '★ ';
  }

  .rating > input:checked ~ label {
      color: $dark;
      
  }

  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
      color: $dark;
      
  }

  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
      color: $dark;
      
  }

  .rating > label:active {
      position:relative;
      top:2px;
      left:2px;
  }