<app-header></app-header>
<main>
    <div class="project-description mid left">
        <p>This project is amining to put all the record stores specialized in electronic music together in the same site to make it easy for the vinyl-heads to know where are the best spots in town for digging wherever they are at the moment. To be able to keep this site up to date, we'll have a section where you can tell us about new shops in your city or anything record shopping related.</p>
        <p>RecordStoreDB is a project by José Alberto del Álamo, Pablo Huertas and Guillermo Molina made in Madrid, 2018.</p>
        <p>If you want to get in touch please write to info@recordstoredb.com</p>
    </div>
</main>