<app-header></app-header>
<main>
   <div class="mid login">
      <form  [formGroup]="userLogForm" (ngSubmit)="onFormularioUsuario()">
         <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" formControlName="username">
         </div>
         <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" formControlName="name">
         </div>
         <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" name="surname" formControlName="surname">
         </div>
         <div class="form-group">
            <label for="mail">Email</label>
            <input type="email" name="mail" formControlName="mail">
         </div>
         <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" formControlName="password">
         </div>
         <div class="form-group">
            <label for="residency">Residency</label>
            <input type="text" name="city" formControlName="city">
         </div>
         <!-- <div>
            <input type="date" name="dateOfBirth" formControlName="dateOfBirth"> Date Of Birth
         </div> -->
         <input type="submit" value="Register" [disabled]="!userLogForm.valid" class="submit-button">
      </form>
   </div>
</main>