@media (max-width: 768px) {    
    .continent-title {
        h2 {
            font-size: 4.4rem;
            padding: 0 0 .5rem;
        }
    }
}

@media (max-width: 400px) {    
    .continent-title {
        h2 {
            font-size: 3.3rem;
        }
    }
}