@media (max-width: 1024px) {
    #overlay {
        padding-top: 20px;
    }
}

@media (max-width: 768px) {    
    .continent-title {
        h2 {
            font-size: 4.4rem;
            padding: 0 0 .5rem;
        }
    }

    #overlay {
        padding-top: 15px;

        h1 {
            font-size: 4.4rem;
        }
    }
}

@media (max-width: 400px) {    
    .continent-title {
        h2 {
            font-size: 3.3rem;
        }
    }

    #overlay {
        h1 {
            font-size: 3.3rem;
        }
    }
}