<app-header></app-header>
<main id="continent" class="col-12">
  <div id="africa" class="continent">
    <div class="continent-title">
      <h2 [routerLink]="['/africa']">Africa</h2>
    </div>
  </div>
  <div id="asia" class="continent">
    <div class="continent-title">
      <h2 [routerLink]="['/asia']">Asia</h2>
    </div>
  </div>
  <div id="europe" class="continent">
    <div class="continent-title">
      <h2 [routerLink]="['/europe']">Europe</h2>
    </div>
  </div>
  <div id="north-america" class="continent">
    <div class="continent-title">
      <h2 [routerLink]="['/n-america']">N–America</h2>
    </div>
  </div>
  <div id="south-america" class="continent">
    <div class="continent-title">
      <h2 [routerLink]="['/s-america']">S–America</h2>
    </div>
  </div>
  <div id="oceania" class="continent">
    <div class="continent-title">
      <h2 [routerLink]="['/oceania']">Oceania</h2>
    </div>
  </div>
</main>
<div id="overlay">
  <div class="full left">
    <h1>Electronic Music Record Store Database</h1>
  </div>
</div>