$dark: #000;
$light: #fff;
$accent: #a48dff; /* #ff803f */
$accentlight: #a9a9a9;
$size: 24px;
$fontlight: 'nb_international_prolight';
$fontregular: 'nb_international_proregular';
$fontbold: 'nb_international_probold';